/*--------------------------------------------------------------
# Font & Color Variables
# Help: https://www.soft-tech-mx.comcolor-system/
--------------------------------------------------------------*/
/* Fonts */
:root {
	--default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--heading-font: "Raleway", sans-serif;
	--nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
	--background-color: #ffffff;
	/* Background color for the entire website, including individual sections */
	--default-color: #444444;
	/* Default color used for the majority of the text content across the entire website */
	--heading-color: #384046;
	/* Color for headings, subheadings and title throughout the website */
	--accent-color: #3498db;
	/* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
	--surface-color: #ffffff;
	/* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
	--contrast-color: #ffffff;
	/* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
	--nav-color: #444444;
	/* The default color of the main navmenu links */
	--nav-hover-color: #3498db;
	/* Applied to main navmenu links when they are hovered over or active */
	--nav-mobile-background-color: #ffffff;
	/* Used as the background color for mobile navigation menu */
	--nav-dropdown-background-color: #ffffff;
	/* Used as the background color for dropdown items that appear when hovering over primary navigation items */
	--nav-dropdown-color: #444444;
	/* Used for navigation links of the dropdown items in the navigation menu. */
	--nav-dropdown-hover-color: #3498db;
	/* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
	--background-color: #f7fbfe;
	--surface-color: #ffffff;
}

.dark-background {
	--background-color: #1d222d;
	--default-color: #ffffff;
	--heading-color: #ffffff;
	--surface-color: #31394c;
	--contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
	scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
	color: var(--default-color);
	background-color: var(--background-color);
	font-family: var(--default-font);
}

a {
	color: var(--accent-color);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: color-mix(in srgb, var(--accent-color), transparent 25%);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: var(--heading-font);
}

/* PHP Email Form Messages
------------------------------*/
.php-email-form .error-message {
	display: none;
	background: #df1529;
	color: #ffffff;
	text-align: left;
	padding: 15px;
	margin-bottom: 24px;
	font-weight: 600;
}

.php-email-form .sent-message {
	display: none;
	color: #ffffff;
	background: #059652;
	text-align: center;
	padding: 15px;
	margin-bottom: 24px;
	font-weight: 600;
}

.php-email-form .loading {
	display: none;
	background: var(--surface-color);
	text-align: center;
	padding: 15px;
	margin-bottom: 24px;
}

.php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid var(--accent-color);
	border-top-color: var(--surface-color);
	animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
	color: var(--default-color);
	background-color: var(--background-color);
	padding: 20px 0;
	transition: all 0.5s;
	z-index: 997;
}

.header .logo {
	line-height: 1;
}

.header .logo img {
	max-height: 36px;
	margin-right: 8px;
}

.header .logo h1 {
	font-size: 30px;
	margin: 0;
	font-weight: 700;
	color: var(--heading-color);
}

.header .header-social-links {
	padding-right: 15px;
}

.header .header-social-links a {
	color: color-mix(in srgb, var(--default-color), transparent 40%);
	padding-left: 6px;
	display: inline-block;
	transition: 0.3s;
	font-size: 16px;
}

.header .header-social-links a:hover {
	color: var(--accent-color);
}

.header .header-social-links a i {
	line-height: 0px;
}

@media (max-width: 1200px) {
	.header .logo {
		order: 1;
	}

	.header .header-social-links {
		order: 2;
	}

	.header .navmenu {
		order: 3;
	}
}

.scrolled .header {
	box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
	.navmenu {
		padding: 0;
	}

	.navmenu ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}

	.navmenu li {
		position: relative;
	}

	.navmenu a,
	.navmenu a:focus {
		color: var(--nav-color);
		padding: 10px 15px;
		margin-left: 2px;
		font-size: 16px;
		font-family: var(--nav-font);
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: 0.3s;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		transition: 0.3s;
	}

	.navmenu li:hover>a,
	.navmenu .active,
	.navmenu .active:focus {
		color: var(--contrast-color);
		background-color: var(--nav-hover-color);
	}

	.navmenu .dropdown ul {
		margin: 0;
		padding: 0;
		background: var(--nav-dropdown-background-color);
		display: block;
		position: absolute;
		visibility: hidden;
		left: 2px;
		top: 130%;
		opacity: 0;
		transition: 0.3s;
		z-index: 99;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	}

	.navmenu .dropdown ul li {
		min-width: 200px;
	}

	.navmenu .dropdown ul a {
		padding: 10px 20px;
		margin: 0;
		font-size: 15px;
		text-transform: none;
		color: var(--nav-dropdown-color);
	}

	.navmenu .dropdown ul a i {
		font-size: 12px;
	}

	.navmenu .dropdown ul a:hover,
	.navmenu .dropdown ul .active:hover,
	.navmenu .dropdown ul li:hover>a {
		color: var(--contrast-color);
		background-color: var(--nav-hover-color);
	}

	.navmenu .dropdown:hover>ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.navmenu .dropdown .dropdown ul {
		top: 0;
		left: -90%;
		visibility: hidden;
	}

	.navmenu .dropdown .dropdown:hover>ul {
		opacity: 1;
		top: 0;
		left: -100%;
		visibility: visible;
	}
}

/* Mobile Navigation */
@media (max-width: 1199px) {
	.mobile-nav-toggle {
		color: var(--nav-color);
		font-size: 28px;
		line-height: 0;
		margin-right: 10px;
		cursor: pointer;
		transition: color 0.3s;
	}

	.navmenu {
		padding: 0;
		z-index: 9997;
	}

	.navmenu ul {
		display: none;
		list-style: none;
		position: absolute;
		inset: 60px 20px 20px 20px;
		padding: 10px 0;
		margin: 0;
		border-radius: 6px;
		background-color: var(--nav-mobile-background-color);
		overflow-y: auto;
		transition: 0.3s;
		z-index: 9998;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	}

	.navmenu a,
	.navmenu a:focus {
		color: var(--nav-dropdown-color);
		padding: 10px 20px;
		font-family: var(--nav-font);
		font-size: 17px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: 0.3s;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: 0.3s;
		background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
	}

	.navmenu a i:hover,
	.navmenu a:focus i:hover {
		background-color: var(--accent-color);
		color: var(--contrast-color);
	}

	.navmenu a:hover,
	.navmenu .active,
	.navmenu .active:focus {
		color: var(--nav-dropdown-hover-color);
	}

	.navmenu .active i,
	.navmenu .active:focus i {
		background-color: var(--accent-color);
		color: var(--contrast-color);
		transform: rotate(180deg);
	}

	.navmenu .dropdown ul {
		position: static;
		display: none;
		z-index: 99;
		padding: 10px 0;
		margin: 10px 20px;
		background-color: var(--nav-dropdown-background-color);
		border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
		box-shadow: none;
		transition: all 0.5s ease-in-out;
	}

	.navmenu .dropdown ul ul {
		background-color: rgba(33, 37, 41, 0.1);
	}

	.navmenu .dropdown>.dropdown-active {
		display: block;
		background-color: rgba(33, 37, 41, 0.03);
	}

	.mobile-nav-active {
		overflow: hidden;
	}

	.mobile-nav-active .mobile-nav-toggle {
		color: #fff;
		position: absolute;
		font-size: 32px;
		top: 15px;
		right: 15px;
		margin-right: 0;
		z-index: 9999;
	}

	.mobile-nav-active .navmenu {
		position: fixed;
		overflow: hidden;
		inset: 0;
		background: rgba(33, 37, 41, 0.8);
		transition: 0.3s;
	}

	.mobile-nav-active .navmenu>ul {
		display: block;
	}
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
	color: var(--default-color);
	background-color: var(--background-color);
	font-size: 14px;
	padding-bottom: 50px;
	position: relative;
}

.footer .footer-top {
	padding-top: 50px;
}

.footer .footer-about .logo {
	line-height: 1;
	margin-bottom: 25px;
}

.footer .footer-about .logo img {
	max-height: 40px;
	margin-right: 6px;
}

.footer .footer-about .logo span {
	color: var(--heading-color);
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: var(--heading-font);
}

.footer .footer-about p {
	font-size: 14px;
	font-family: var(--heading-font);
}

.footer .social-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
	font-size: 16px;
	color: color-mix(in srgb, var(--default-color), transparent 50%);
	margin-right: 10px;
	transition: 0.3s;
}

.footer .social-links a:hover {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

.footer h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
}

.footer .footer-links {
	margin-bottom: 30px;
}

.footer .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer .footer-links ul i {
	padding-right: 2px;
	font-size: 12px;
	line-height: 0;
}

.footer .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.footer .footer-links ul li:first-child {
	padding-top: 0;
}

.footer .footer-links ul a {
	color: color-mix(in srgb, var(--default-color), transparent 20%);
	display: inline-block;
	line-height: 1;
}

.footer .footer-links ul a:hover {
	color: var(--accent-color);
}

.footer .footer-contact p {
	margin-bottom: 5px;
}

.footer .copyright {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: color-mix(in srgb, var(--default-color), transparent 95%);
}

.footer .copyright p {
	margin-bottom: 0;
}

.footer .credits {
	margin-top: 6px;
	font-size: 13px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
	position: fixed;
	inset: 0;
	z-index: 999999;
	overflow: hidden;
	background: var(--background-color);
	transition: all 0.6s ease-out;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #ffffff;
	border-color: var(--accent-color) transparent var(--accent-color) transparent;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background-color: var(--accent-color);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.scroll-top i {
	font-size: 24px;
	color: var(--contrast-color);
	line-height: 0;
}

.scroll-top:hover {
	background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
	color: var(--contrast-color);
}

.scroll-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
	color: var(--default-color);
	background-color: var(--background-color);
	padding: 25px 0;
	position: relative;
}

.page-title h1 {
	font-size: 24px;
	font-weight: 700;
}

.page-title .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
	padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
	content: "/";
	display: inline-block;
	padding-right: 10px;
	color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
	color: var(--default-color);
	background-color: var(--background-color);
	padding: 60px 0;
	scroll-margin-top: 84px;
	overflow: clip;
}

@media (max-width: 1199px) {

	section,
	.section {
		scroll-margin-top: 76px;
	}
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
	text-align: center;
	padding-bottom: 60px;
	position: relative;
}

.section-title h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2:before {
	content: "";
	position: absolute;
	display: block;
	width: 160px;
	height: 1px;
	background: color-mix(in srgb, var(--default-color), transparent 60%);
	left: 0;
	right: 0;
	bottom: 1px;
	margin: auto;
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 3px;
	background: var(--accent-color);
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.section-title p {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
	width: 100%;
	min-height: 60vh;
	position: relative;
	padding: 80px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero img {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.hero:before {
	content: "";
	background: color-mix(in srgb, var(--background-color), transparent 30%);
	position: absolute;
	inset: 0;
	z-index: 2;
}

.hero .container {
	position: relative;
	z-index: 3;
}

.hero h2 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
}

.hero p {
	margin: 10px 0 0 0;
	font-size: 24px;
	color: var(--heading-color);
}

.hero .btn-get-started {
	background-color: var(--accent-color);
	color: var(--default-color);
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 40px;
	margin: 30px 0 0 0;
	border-radius: 4px;
	transition: 0.5s;
}

.hero .btn-get-started:hover {
	background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

@media (max-width: 768px) {
	.hero h2 {
		font-size: 32px;
	}

	.hero p {
		font-size: 18px;
	}
}

/*--------------------------------------------------------------
# What We Do Section
--------------------------------------------------------------*/
.what-we-do .why-box {
	color: var(--contrast-color);
	background: var(--accent-color);
	padding: 30px;
}

.what-we-do .why-box h3 {
	color: var(--contrast-color);
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 30px;
}

.what-we-do .why-box p {
	margin-bottom: 30px;
}

.what-we-do .why-box .more-btn {
	display: inline-block;
	background: color-mix(in srgb, var(--contrast-color), transparent 85%);
	padding: 8px 40px 10px 40px;
	color: var(--contrast-color);
	transition: all ease-in-out 0.4s;
	border-radius: 50px;
}

.what-we-do .why-box .more-btn i {
	font-size: 14px;
}

.what-we-do .why-box .more-btn:hover {
	color: var(--accent-color);
	background: var(--surface-color);
}

.what-we-do .icon-box {
	background-color: var(--surface-color);
	text-align: center;
	padding: 40px 30px;
	width: 100%;
	height: 100%;
	border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.what-we-do .icon-box i {
	color: var(--accent-color);
	margin-bottom: 30px;
	font-size: 32px;
	margin-bottom: 30px;
	background: color-mix(in srgb, var(--accent-color), transparent 95%);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	transition: 0.3s;
}

.what-we-do .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 30px 0;
}

.what-we-do .icon-box p {
	font-size: 15px;
	color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.what-we-do .icon-box:hover i {
	color: var(--contrast-color);
	background: var(--accent-color);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .about-content h3 {
	font-weight: 700;
	font-size: 26px;
}

.about .about-content ul {
	list-style: none;
	padding: 0;
}

.about .about-content ul li {
	display: flex;
	align-items: flex-start;
	margin-bottom: 35px;
}

.about .about-content ul li:first-child {
	margin-top: 35px;
}

.about .about-content ul i {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	font-size: 32px;
	color: #fff;
	background: var(--accent-color);
	margin-right: 15px;
	line-height: 0;
	border-radius: 5px;
}

.about .about-content ul h4 {
	font-size: 18px;
	font-weight: 600;
}

.about .about-content ul p {
	font-size: 15px;
}

.about .about-content p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
}

.skills .progress .skill {
	color: var(--heading-color);
	padding: 0;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: var(--heading-font);
}

.skills .progress .skill .val {
	float: right;
	font-style: normal;
}

.skills .progress-bar-wrap {
	background: color-mix(in srgb, var(--default-color), transparent 90%);
	height: 10px;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: var(--accent-color);
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
	padding: 10px 0;
}

.stats .stats-item {
	padding: 30px;
	width: 100%;
}

.stats .stats-item span {
	color: var(--heading-color);
	font-size: 48px;
	display: block;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.stats .stats-item span:after {
	content: "";
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	background: var(--accent-color);
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.stats .stats-item p {
	color: color-mix(in srgb, var(--default-color), transparent 40%);
	padding: 0;
	margin: 0;
	font-family: var(--heading-font);
	font-weight: 500;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
	background-color: var(--surface-color);
	padding: 50px 30px;
	margin-top: 36px;
	transition: all ease-in-out 0.3s;
	position: relative;
	border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
	text-align: center;
}

.services .service-item .icon {
	background: var(--accent-color);
	color: var(--contrast-color);
	margin: 0;
	width: 72px;
	height: 72px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 28px;
	transition: ease-in-out 0.3s;
	position: absolute;
	top: -36px;
	left: calc(50% - 36px);
	border: 6px solid var(--background-color);
}

.services .service-item h3 {
	font-weight: 700;
	margin: 10px 0 15px 0;
	font-size: 22px;
	transition: ease-in-out 0.3s;
}

.services .service-item p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.services .service-item:hover {
	background: var(--background-color);
}

.services .service-item:hover h3 {
	color: var(--accent-color);
}

.services .service-item:hover .icon {
	background: var(--surface-color);
	border: 2px solid var(--accent-color);
}

.services .service-item:hover .icon i {
	color: var(--accent-color);
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
	padding: 0;
	margin: 0 auto 20px auto;
	list-style: none;
	text-align: center;
}

.portfolio .portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 0;
	font-size: 16px;
	font-weight: 600;
	margin: 0 10px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
	color: var(--accent-color);
}

.portfolio .portfolio-filters li:first-child {
	margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
	margin-right: 0;
}

@media (max-width: 575px) {
	.portfolio .portfolio-filters li {
		font-size: 14px;
		margin: 0 5px;
	}
}

.portfolio .portfolio-item {
	position: relative;
}

.portfolio .portfolio-item .portfolio-info {
	background-color: color-mix(in srgb, var(--surface-color), transparent 10%);
	opacity: 0;
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 0;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
	font-size: 18px;
	font-weight: 600;
	padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info p {
	color: color-mix(in srgb, var(--default-color), transparent 30%);
	font-size: 14px;
	margin-bottom: 0;
	padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
	position: absolute;
	right: 50px;
	font-size: 24px;
	top: calc(50% - 14px);
	color: color-mix(in srgb, var(--default-color), transparent 30%);
	transition: 0.3s;
	line-height: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
	color: var(--accent-color);
}

.portfolio .portfolio-item .portfolio-info .details-link {
	right: 14px;
	font-size: 28px;
}

.portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
	bottom: 20px;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials .testimonial-item {
	background-color: var(--surface-color);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
	padding: 30px;
	margin: 30px 15px;
	position: relative;
	height: 100%;
}

.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50px;
	margin-right: 15px;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: color-mix(in srgb, var(--default-color), transparent 40%);
	margin: 0;
}

.testimonials .testimonial-item .stars {
	margin: 10px 0;
}

.testimonials .testimonial-item .stars i {
	color: #ffc107;
	margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: color-mix(in srgb, var(--accent-color), transparent 50%);
	font-size: 26px;
	line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
	transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 15px auto 15px auto;
}

.testimonials .swiper-wrapper {
	height: auto;
}

.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: color-mix(in srgb, var(--default-color), transparent 85%);
	opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}

@media (max-width: 767px) {
	.testimonials .testimonial-wrap {
		padding-left: 0;
	}

	.testimonials .testimonial-item {
		padding: 30px;
		margin: 15px;
	}

	.testimonials .testimonial-item .testimonial-img {
		position: static;
		left: auto;
	}
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .person {
	position: relative;
}

.team .person figure {
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.team .person img {
	transition: 0.3s all ease;
}

.team .person .person-contents {
	text-align: center;
}

.team .person .person-contents h3 {
	color: var(--heading-color);
	font-size: 24px;
}

.team .person .person-contents .position {
	color: var(--accent-color);
}

.team .person:hover img {
	transform: scale(1.05);
}

.team .person .social {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
}

.team .person .social a {
	display: block;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background: var(--contrast-color);
	position: relative;
}

.team .person .social a>span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.team .person .social a:hover {
	background: var(--accent-color);
	color: var(--contrast-color);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
	background-image: url("../img/contact-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}

@media (max-width: 640px) {
	.contact {
		background-position: center 50px;
		background-size: contain;
	}
}

.contact:before {
	content: "";
	background: color-mix(in srgb, var(--background-color), transparent 30%);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.contact .info-item+.info-item {
	margin-top: 40px;
}

.contact .info-item i {
	background: var(--accent-color);
	color: var(--contrast-color);
	font-size: 20px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}

.contact .info-item h3 {
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
}

.contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 14px;
}

.contact .php-email-form {
	height: 100%;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
	font-size: 14px;
	padding: 10px 15px;
	box-shadow: none;
	border-radius: 0;
	color: var(--default-color);
	background-color: color-mix(in srgb, var(--background-color), transparent 50%);
	border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
	border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
	color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
	color: var(--contrast-color);
	background: var(--accent-color);
	border: 0;
	padding: 10px 30px;
	transition: 0.4s;
	border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
	background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/
.portfolio-details .portfolio-details-slider img {
	width: 100%;
}

.portfolio-details .swiper-wrapper {
	height: auto;
}

.portfolio-details .swiper-button-prev,
.portfolio-details .swiper-button-next {
	width: 48px;
	height: 48px;
}

.portfolio-details .swiper-button-prev:after,
.portfolio-details .swiper-button-next:after {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.15);
	font-size: 24px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.portfolio-details .swiper-button-prev:hover:after,
.portfolio-details .swiper-button-next:hover:after {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {

	.portfolio-details .swiper-button-prev,
	.portfolio-details .swiper-button-next {
		display: none;
	}
}

.portfolio-details .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: color-mix(in srgb, var(--default-color), transparent 85%);
	opacity: 1;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}

.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.portfolio-details .portfolio-info h3:after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: var(--accent-color);
	left: 0;
	bottom: 0;
}

.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.portfolio-details .portfolio-info ul li {
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.portfolio-details .portfolio-info ul strong {
	text-transform: uppercase;
	font-weight: 400;
	color: color-mix(in srgb, var(--default-color), transparent 50%);
	font-size: 14px;
}

.portfolio-details .portfolio-info .btn-visit {
	padding: 8px 40px;
	background: var(--accent-color);
	color: var(--contrast-color);
	border-radius: 50px;
	transition: 0.3s;
}

.portfolio-details .portfolio-info .btn-visit:hover {
	background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
	padding: 0;
}

.portfolio-details .portfolio-description .testimonial-item {
	padding: 30px 30px 0 30px;
	position: relative;
	background: color-mix(in srgb, var(--default-color), transparent 97%);
	margin-bottom: 50px;
}

.portfolio-details .portfolio-description .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50px;
	border: 6px solid var(--background-color);
	float: left;
	margin: 0 10px 0 0;
}

.portfolio-details .portfolio-description .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 5px 0;
	padding-top: 20px;
}

.portfolio-details .portfolio-description .testimonial-item h4 {
	font-size: 14px;
	color: #6c757d;
	margin: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
	color: color-mix(in srgb, var(--accent-color), transparent 50%);
	font-size: 26px;
	line-height: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
	transform: scale(-1, -1);
}

.portfolio-details .portfolio-description .testimonial-item p {
	font-style: italic;
	margin: 0 0 15px 0 0 0;
	padding: 0;
}

/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .service-box {
	background-color: var(--surface-color);
	padding: 20px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.service-details .service-box+.service-box {
	margin-top: 30px;
}

.service-details .service-box h4 {
	font-size: 20px;
	font-weight: 700;
	border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.service-details .services-list {
	background-color: var(--surface-color);
}

.service-details .services-list a {
	color: color-mix(in srgb, var(--default-color), transparent 20%);
	background-color: color-mix(in srgb, var(--default-color), transparent 96%);
	display: flex;
	align-items: center;
	padding: 12px 15px;
	margin-top: 15px;
	transition: 0.3s;
}

.service-details .services-list a:first-child {
	margin-top: 0;
}

.service-details .services-list a i {
	font-size: 16px;
	margin-right: 8px;
	color: var(--accent-color);
}

.service-details .services-list a.active {
	color: var(--contrast-color);
	background-color: var(--accent-color);
}

.service-details .services-list a.active i {
	color: var(--contrast-color);
}

.service-details .services-list a:hover {
	background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
	color: var(--accent-color);
}

.service-details .download-catalog a {
	color: var(--default-color);
	display: flex;
	align-items: center;
	padding: 10px 0;
	transition: 0.3s;
	border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.service-details .download-catalog a:first-child {
	border-top: 0;
	padding-top: 0;
}

.service-details .download-catalog a:last-child {
	padding-bottom: 0;
}

.service-details .download-catalog a i {
	font-size: 24px;
	margin-right: 8px;
	color: var(--accent-color);
}

.service-details .download-catalog a:hover {
	color: var(--accent-color);
}

.service-details .help-box {
	background-color: var(--accent-color);
	color: var(--contrast-color);
	margin-top: 30px;
	padding: 30px 15px;
}

.service-details .help-box .help-icon {
	font-size: 48px;
}

.service-details .help-box h4,
.service-details .help-box a {
	color: var(--contrast-color);
}

.service-details .services-img {
	margin-bottom: 20px;
}

.service-details h3 {
	font-size: 26px;
	font-weight: 700;
}

.service-details p {
	font-size: 15px;
}

.service-details ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.service-details ul li {
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.service-details ul i {
	font-size: 20px;
	margin-right: 8px;
	color: var(--accent-color);
}

/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
	/* Add your styles here */
}